$max-width : min(90vw,1200px);

$green-1 : #00af00;
$blue-1: #1a94f8;
$blue-2: #d6edff;
$blue-3:#016A7D;

$padding-small : .3rem;
$padding-regular : .5rem;
$padding-medium : 1rem;
$padding-big : 1.5rem;

$font1 : 'Nunito', sans-serif;
$font2 : 'Anton', sans-serif;

$medium-responsive-width : 520px; 